In [1]:
import pandas as pd

In [4]:
meta = pd.read_csv('../test_dataset.csv.gz', low_memory=False)
meta.sample(2)

,htid,access,rights,ht_bib_key,description,source,source_bib_num,oclc_num,isbn,issn,...,rights_date_used,pub_place,lang,bib_fmt,collection_code,content_provider_code,responsible_entity_code,digitization_agent_code,access_profile_code,author
38754,mdp.39015028305038,allow,pd,2241649,NaN,MIU,002241649,5133703,NaN,NaN,...,1957.0,dcu,eng,BK,MIU,umich,umich,google,google,Inter-American Cultural Council. Committee for...
42304,nyp.33433008487609,allow,pdus,1622919,v. 4,NYP,.b135303618,3468037,NaN,NaN,...,1883.0,enk,eng,BK,NYP,nypl,nypl,google,google,"Brassey, Thomas Brassey, Earl, 1836-1918."

In [5]:
q = meta.sample(1).iloc[0]
q

htid                                                      mdp.39015032749015
access                                                                  deny
rights                                                                    ic
ht_bib_key                                                           2795958
description                                                              NaN
source                                                                   MIU
source_bib_num                                                     002795958
oclc_num                                                            29395857
isbn                                                                     NaN
issn                                                                     NaN
lccn                                                                     NaN
title                                       Song of Solomon / Toni Morrison.
imprint                    Alfred A. Knopf : Distributed by Random House,...
rights_reason_code                                                       bib
rights_timestamp                                         2010-01-31 22:30:03
us_gov_doc_flag                                                            0
rights_date_used                                                        1993
pub_place                                                                nyu
lang                                                                     eng
bib_fmt                                                                   BK
collection_code                                                          MIU
content_provider_code                                                  umich
responsible_entity_code                                                umich
digitization_agent_code                                               google
access_profile_code                                                   google
author                                                       Morrison, Toni.
Name: 130929, dtype: object

In [10]:
meta[(meta.title == q.title) & (meta.author == q.author)& (meta.oclc_num == q.oclc_num)]

,htid,access,rights,ht_bib_key,description,source,source_bib_num,oclc_num,isbn,issn,...,rights_date_used,pub_place,lang,bib_fmt,collection_code,content_provider_code,responsible_entity_code,digitization_agent_code,access_profile_code,author
130929,mdp.39015032749015,deny,ic,2795958,NaN,MIU,002795958,29395857,NaN,NaN,...,1993.0,nyu,eng,BK,MIU,umich,umich,google,google,"Morrison, Toni."
130932,mdp.39015032749130,deny,ic,2795958,NaN,MIU,002795958,29395857,NaN,NaN,...,1993.0,nyu,eng,BK,MIU,umich,umich,google,google,"Morrison, Toni."

In [14]:
meta.description.value_counts().head(10)

v.1     5621
v.2     5498
v.3     2266
v.4     1161
v. 1    1021
v. 2     993
v.5      771
v.6      562
v.7      419
v. 3     346
Name: description, dtype: int64

In [52]:
def enumchron_normalize(x):
    y = str(x).lower().replace('. ', '.').replace('pt.', 'v.').replace('vol.', 'v.')
    y = y.replace('v.', '')
    return y
(meta.description.str.lower()
     .str.replace('. ', '.')
     .str.replace('pt.|vol.|c.|v.|no.|p.|bk.|---', '')
     .str.replace('^[\(\.\[]', '')
     .str.replace('^[\]\)]', '')
     #.str.replace('[0-9]+', '#')
).value_counts().head(100)

1                             7706
2                             7642
3                             2979
4                             1538
5                             1026
6                              754
                               588
7                              559
8                              449
9                              338
10                             311
1-2                            240
11                             238
12                             214
13                             186
14                             136
15                             129
16                             118
1)                             105
17                              93
18                              90
19                              80
20                              67
02                              65
talbo.lleio.o.britis.mlets      65
21                              59
22                              57
1-3                             55
01                              51
3-4                             50
                              ...
40                              18
1899                            18
1915                            18
002                             18
1930                            18
1919                            17
06                              17
2.1                             17
37                              17
0002                            17
43                              17
34                              16
001                             16
1903                            16
1.1                             16
1892                            16
sul.1                           16
1917                            15
1907                            15
1960                            15
38                              15
2.2                             15
3:1                             15
44                              15
41                              15
1904                            15
1977                            14
1912                            14
49,435                          14
1902                            14
Name: description, Length: 100, dtype: int64